# Build output
target/
*.class
*.jar
*.war

# IDE files
.idea/
*.iml
.vscode/
*.swp

# Logs
*.log
logs/
spring.log

# Environment & secrets
.env
*.env
application.yml
application-*.yml
application-*.properties
src/main/resources/

# OS files
.DS_Store
Thumbs.db

# Backup & temp
*.bak
*.tmp
*.pid

# Test reports
test-output/
surefire-reports/
.mvn/
 mvnw
 mvnw.cmd
